body {
    margin: 0;
    padding: 0;
    background: rgb(230, 220, 211);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grid {
    margin: 100px 0 0 55px;
    display: grid;
    /* grid-template-columns: repeat(5, clamp(68px, 12%, 85px)); */
}

i {
    margin-right: 5px;
}

.bttn {
    padding: 0 15px;
    height: 38px;
    border-radius: 5px;
    margin: 30px 0 30px 20px;
    border: none;
    transition: all 0.2s;
}

.b1 {
    margin: 30px 0 0 55px;
}

.bttn:hover {
    box-shadow: 0 0 3px 3px rgba(113, 113, 114, 0.8);
}

button {
    background-color: white;
    border: 1px solid black;
    outline: none;
    height: 48px;
    cursor: pointer;
}

.txt {
    position: absolute;
    top: 15px;
    left: 55px;
}

#show {
    top: -16px;
    position: relative;
}

#bottom,
.html {
    display: flex;
    flex-direction: row;
}

.html {
    position: relative;
    top: -10px;
    height: 20px;
}

.pm {
    margin: 0 0 0 7px;
    padding: 2px 8px;
    cursor: pointer;
    height: 20px;
}

select {
    margin: 0 0 0 20px;
}

#note {
    margin: 40px;
}

@media only screen and (max-width: 768px) {
    .grid {
        margin: 132px 0 0 35px;
    }
    body {
        background-color: lightblue;
    }
    .txt {
        position: absolute;
        top: 35px;
        font-size: large;
        left: 32px;
    }
    .b1 {
        margin: 30px 0 0 35px;
    }
}

@media only screen and (max-width: 399px) {
    .grid {
        margin: 120px 0 0 20px;
        grid-template-columns: repeat(5, clamp(55px, 12%, 70px));
    }
    body {
        background-color: lightblue;
    }
    button {
        height: 40px;
    }
    .txt {
        position: absolute;
        top: 28px;
        font-size: large;
        left: 22px;
    }
    .b1 {
        margin: 30px 0 0 22px;
    }
}

@media only screen and (min-width: 1435px) {
    .grid {
        margin: 150px 0 0 85px;
        grid-template-columns: repeat(5, clamp(85px, 12%, 110px));
    }
    button {
        height: 70px;
    }
    .b1 {
        margin: 40px 0 0 85px;
    }
    .txt {
        position: absolute;
        font-size: 30px;
        top: 190px;
        left: 700px;
    }
}