.inf {
    cursor: default;
    width: 70px;
    height: 42px;
}

.row1 {
    display: flex;
}

.col2 {
    margin-left: 20px;
}

#info {
    position: absolute;
    width: 250px;
    margin: 0 0 0 35px;
}

.label-info {
    background: #9bb6ae;
}

.label-warning {
    background: #e0bf00;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(230, 220, 211);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grid {
    margin: 30px 0 0 55px;
    display: grid;
    /* grid-template-columns: repeat(5, clamp(68px, 12%, 85px)); */
}

i {
    margin-right: 5px;
}

.bttn {
    padding: 0 15px;
    height: 38px;
    border-radius: 5px;
    margin: 30px 0 30px 20px;
    border: none;
    transition: all 0.15s;
}

.b1 {
    margin: 30px 0 0 55px;
}

.bttn:hover {
    box-shadow: 0 0 3px 3px rgba(70, 70, 70, 0.75);
}

button {
    background-color: white;
    border: 1px solid black;
    outline: none;
    height: 48px;
    cursor: pointer;
}

.txt {
    margin: 45px 0 20px 55px;
}

#show {
    position: relative;
    font-size: large;
}

#bottom,
.html {
    display: flex;
    flex-direction: row;
}

#bottom {
    width: 500px;
}

.html {
    position: relative;
    top: -8px;
    height: 20px;
}

.pm {
    margin: 5px 0 0 7px;
    padding: 2px 8px;
    cursor: pointer;
    height: 20px;
    width: 25px;
    border-radius: 10%;
    border: none;
    font-size: small;
}

select {
    margin: 5px 0 0 8px;
    height: 20px;
    font-size: small;
}

#note {
    margin: 40px;
}

.b1,
.b2 {
    font-size: 20px;
    flex: 0 0 100px;
}

.b1 {
    flex: 0 0 90px;
}

@media only screen and (max-width: 787px) {
    .grid {
        margin: 85px 0 0 35px;
    }
    #info {
        margin-left: 15px;
        display: flex;
        width: 500px;
        top: 112px;
    }
    .row1 {
        margin-left: 20px;
    }
    body {
        background-color: lightblue;
    }
    button {
        height: 43px;
    }
    .txt {
        position: relative;
        font-size: large;
        margin-left: 35px;
        top: -10px;
    }
    .b1 {
        margin: 30px 0 0 35px;
    }
}

@media only screen and (max-width: 430px) {
    .html {
        display: block;
    }
    #info {
        top: 160px;
    }
    .grid {
        margin-top: 120px;
    }
    select {
        margin: 5px 0 0 8px;
        height: 35px;
        width: 70px;
        border-radius: 2px;
        border: none;
        font-size: medium;
    }
    .pm {
        height: 37px;
        width: 37px;
        border-radius: 50%;
        margin: 5px 0 0 12px;
        font-size: 20px;
        color: white;
        background-color: rgba(0, 0, 0, 0.623);
    }
    .sizechng {
        margin-left: -7px;
    }
}