*{
    -webkit-tap-highlight-color: transparent;
}
body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
::selection{
    background-color: rgba(30,46,73);
    color: white;
}
.overlay{
    z-index: -1;
    position: fixed;
    height: 100vh;
    width: calc(100vw - 9px);
    background-color: rgba(0, 0, 0);
    opacity: 0;
    transition: opacity 0.55s ease-in-out;
}
.nav{
    z-index: 10;
    position: fixed;
    top:0px;
    background-color:white;
    height: 65px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px rgba(0, 0, 0,0.12) solid;
    transition: all 0.3s ease-out;
}
.add-shadow{
    /* addition */box-shadow: 0 0px 7px rgba(167, 167, 167,0.75);
}
.nav1{
    display: flex;
    align-items: center;
    padding:0 12px 0 12px;
    height:100%;
}
.sec1{
    width: 50%;
    display: flex;
    align-items: center;
    padding:0 12px 0 12px;
    justify-content: flex-start;
}
.logo{
    margin-right: 25px;
}
.logo a{
    text-decoration: none;
    display: flex;
    align-items: center;
}
.explore-button{
    margin-right: 22px;
    width: 92px;
    height:36px;
}
.explore-button button svg{
    margin-left: 6px;
}
.explore-button button{
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    padding-left: 4px;
    border-radius: 3px;
    width:92px;
    height:100%;
    font-size: 14px;
    font-weight:700;
    color:white;
    background-color:#0056d2;
    border: none;
    line-height: 36px;
}
.explore-button:hover button{
    color:#0056d2;
    background-color: white;
    box-shadow: 0 0 7px rgba(143, 143, 143, 0.781);
}

.explore-button:hover #dropdown{
    fill: #2073d4;
}

.search{
    display: flex;
    width: 100%;
    max-width: 480px;
    height: 40px;
    border-radius: 3px;
}
.search-box{
    width: calc(100% - 44px);
    max-width: 480px;
}
.search-box input{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 14px;
    border: 1px #636363 solid;
    border-radius: 2px 0 0 2px;
    width:100%;
    height: 100%;
    box-sizing: border-box;
    border-right: none;
    padding: 0 10px;
    outline: none;
}
.search-button{
    cursor: pointer;
    border: 1px #636363 solid;
    border-radius: 0 2px 2px 0;
    border-left: none;
    height: 100%;
    width: 42px;
    background-color: #0056d2;
}
.sec2{
    font-size: 14px;
    width: 50%;
    display: flex;
    align-items: center;
    padding:0 12px 0 12px;
    justify-content: flex-end;
}
.enterprise a,.students a{
    padding: 12px 18px;
    text-decoration: none;
    color: black;
}
.login a{
    color: rgb(42, 115, 214);
    text-decoration: none;
    padding: 3px 12px;
}
.enterprise:hover a,.students:hover a,.login:hover a{
    text-decoration:underline;
    color:rgb(42, 115, 214);
}
.login-join{
    display: flex;
    align-items: center;
}
.joinfree button{
    font-family: inherit;
    cursor: pointer;
    color: white;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 700;
    background-color: #0056d2;
    border: none;
    height: 36px;
    line-height: 4px;
    padding: 15px;
}

.content{
    max-width: 1240px;
    box-sizing: border-box;
    margin: 0 auto 128px auto;
    margin-top: 65px;
    padding: 0 20px;
    padding-top: 20px;
    line-height: 1.6;
}

.content p{
    line-height: 52px;
    font-size: 44px;
    margin-bottom: 16px;
    margin-top: 0;
    box-sizing: border-box;
}

.navsmall{
    display: none;
}
.navsmall1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.expand,.search-button1{
    align-items: center;
    box-sizing: border-box;
    border: none;
    background-color: white;
}
.search-button1 svg{
    vertical-align: middle;
    user-select: none;
}
.expand svg{
    margin-top:15px ;
}

.items{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    /* margin-top: 100px; */
}

.items a{
    box-sizing: border-box;
    padding-right: 20px;
    margin-bottom: 20px;
    flex-basis: 25%;
    text-decoration: none;
}
.tile{
    box-shadow: rgba(31, 31, 31, 0.12) 0px 1px 6px, rgba(31, 31, 31, 0.12) 0px 1px 4px;
    border-radius: 3px;
    display: flex;
    height: 100%;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.tile:hover{
    box-shadow: 0px 3px 11px rgba(31, 31, 31, 0.44);
}
.tile_img{
    margin-right: 10px;
    border-radius: 3px 0 0 3px;
    width: 80px;
    min-width: 80px;
    height: 80px;
    background-size: cover;
    z-index: -2;
}

.tile_txt{
    align-self: center;
    color: #636363;
    font-family: "Helvetica";
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}

.tile_txt span{
    color: rgb(31, 31, 31);
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: rgb(230, 230, 230);
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(109, 109, 109, 0.945);
    outline: 1px solid rgb(81, 92, 102);
}

@media screen and (max-width: 990px) {
    .dnone{
        display: none;
    }
    .navsmall{
        display: block;
    }
    .search-button1 svg{
        width: 18px;
        height: 18px;
    }
    .content p{
        font-size: 36px;
        line-height: 48px;
    }
}

@media screen and (max-width: 1024px) {
    .items a{
        flex-basis: 33%;
    }
}

@media screen and (max-width: 808px) {
    .items a{
        flex-basis: 50%;
    }
}

@media screen and (max-width: 592px) {
    .items a{
        flex-basis: 100%;
    }
}