:root {
    --receipt_back: white;
    --dist: 22px;
}

.profile {
    width: 710px;
    margin: 40px auto;
}

body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    /* background-color: rgb(222, 245, 220); */
    /* background-color: oldlace; */
    background-color: rgba(221, 240, 222, 0.9);
    /* transition: ease-out 1.2s; */
}

.hi {
    margin: 0 71px;
    font-size: 80px;
    /* color: white; */
}

.em {
    font-size: 20px;
    margin: 10px 201px;
    margin-top: 0;
}

.navigation {
    margin: 30px auto;
    /* margin-bottom: 0; */
    background-color: rgb(224, 224, 224);
    color: rgba(99, 99, 99, 0.877);
    display: flex;
    /* width: 700px; */
    height: 42px;
    border-radius: 8px;
    /* rmv */
    box-shadow: inset 0 0 3px rgba(100, 100, 100, 0.7);
}

.partition {
    /* background: rgb(145, 145, 145); */
    position: relative;
    top: 10px;
    width: 0;
    border-right: 1.7px solid rgb(145, 145, 145);
    height: 24px;
}

.trp,
.thp,
.pfp {
    transition: all ease-in-out 0.3s;
}

.sel {
    position: relative;
    top: -68px;
    /* left: 300px; */
    background-color: rgba(255, 255, 255, 0.7);
    height: 34px;
    /* width: 76px; */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(105, 105, 105, 0.65);
    transition: all ease-in-out 0.34s;
}

::selection {
    color: white;
    background-color: black;
}

.pf,
.tr,
.th,
.ul {
    font-size: 20px;
    padding: 9px 12px;
    margin: 4px;
    font-weight: 400;
    z-index: 4;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.sel1 {
    color: black;
    /* font-weight: 600; */
}

.bal {
    margin: 5px 10%;
    font-size: 72px;
}

.bala {
    background-color: rgba(0, 128, 0, 0.45);
    /* background-color: transparent; */
}

.acc_no {
    margin: 0 10%;
    font-family: 'ClementFiveRegular';
    font-size: 50px;
    /* background-color: red; */
    /* background-color: cadetblue; */
}

.accn {
    /* cursor: pointer; */
    background-color: rgba(255, 255, 0, 0.25);
    /* background-color: transparent; */
    letter-spacing: 27px;
}


/* .partition::after{
    
} */

.field {
    height: 15px;
    color: rgba(66, 66, 66, 0.9);
    padding: 11px 0 0 0;
    font-size: 15px;
    /* border-radius: 6px 0 0 6px; */
}

.answer {
    height: 35px;
    font-size: 14px;
    /* border-radius: 6px 0 0 6px; */
}

input {
    height: 29px;
    padding: 0 15px;
    border: 2px solid #d4d4d4ea;
    font-size: 13px;
    outline: none;
    font-family: 'Inter', sans-serif;
}

.fields {
    margin: 52px 60px 65px 70px;
}

.receiver {
    margin: 0 0 20px 0;
}

.pay {
    margin: 40px 0 0 0px;
    border-radius: 3px;
    height: 33px;
    border: none;
    background: #2e3c49;
    /* width: 87px; */
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 2px 12px;
    cursor: pointer;
}

#rec {
    width: 220px;
}

#ana {
    width: 150px;
}


/* .fl {
    display: flex;
} */


/* new change */

.dtind {
    font-size: 16px;
    box-shadow: inset 0 -1px 3px rgba(187, 187, 187, 0.5);
    padding: 3px 12px;
    width: 100px;
    height: 18px;
    /* background: rgba(184, 184, 184, 0.75); */
    background-color: rgba(195, 205, 206, 0.76);
    border-radius: 2px 2px 0 0;
}

.backk {
    padding: 0 0 0 6px;
    margin-bottom: 8px;
    /* background-color: rgba(184, 184, 184, 0.6); */
    background-color: rgba(195, 205, 206, 0.76);
}


/* extraaaaaaaaaaaaaaaaaaaa */

.flbal {
    /* float: right;
    margin-top: 95px;
    margin-right: 60px; */
    position: absolute;
    right: 95px;
    top: 152px;
}

.greenary {
    z-index: -1;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 5px;
    width: 320px;
}

.greenary2 {
    z-index: -1;
    opacity: 0.92;
    position: fixed;
    top: 42%;
    left: 78.5%;
    width: 230px;
}

.flbal1 span {
    font-size: 40px;
}

.trhistory {
    margin: 10px auto;
}


/* tran history */

.positive {
    color: green;
    background: rgb(228, 255, 228);
}

.negative {
    color: red;
    background: rgb(255, 228, 228);
}

.negative,
.positive {
    margin: 0 4%;
}

.col {
    margin: 0 0;
    padding: 7px 3px;
    text-align: center;
}

.col-2 {
    margin-right: 7%;
}

.col-3 {
    margin-right: 5%;
    border-radius: 5px;
}

.containerx {
    margin-top: -10px;
    font-family: "lato", sans-serif;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 5px;
    height: 400px;
    overflow-y: scroll;
}

.containerx1 {
    margin-top: -15px;
    font-family: "lato", sans-serif;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
}

.ulx1 {
    margin-left: 10px;
    margin-right: -5px;
}


/* .containerx::-webkit-scrollbar {
    width: 10px;
} */

.containerx::-webkit-scrollbar {
    width: 7px;
}


/* Track */


/* .containerx::-webkit-scrollbar-track {
    background: #f1f1f1;
} */


/* Handle */

.containerx::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
}


/* Handle on hover */

.containerx::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.responsive-table li {
    padding: 5px 10px;
    display: flex;
    margin-bottom: 5px;
}

.responsive-table .table-header {
    background-color: rgb(155, 172, 173);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.responsive-table .table-row {
    background-color: #ffffff;
    color: rgb(34, 34, 34, 0.95);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.18);
}

.responsive-table .col-1 {
    flex-basis: 26%;
    text-align: start;
    padding-left: 7px;
}

.responsive-table .col-2 {
    flex-basis: 27%;
    text-align: start;
}

.responsive-table .col-3 {
    flex-basis: 9%;
}

.responsive-table .col-4 {
    flex-basis: 23%;
}

ul {
    padding-inline-start: 0;
    margin-block-start: 0;
}

.responsive-table .cola-1 {
    flex-basis: 12%;
    padding-right: 18px;
}

.responsive-table .cola-2 {
    flex-basis: 25%;
}

.responsive-table .cola-3 {
    flex-basis: 40%;
}

.responsive-table .cola-4 {
    flex-basis: 23%;
}

.trn {
    cursor: pointer;
}

.cola {
    margin: 0 0;
    padding: 7px 3px;
    text-align: center;
}

.cola-2 {
    text-align: start;
    margin-right: 7%;
}

.cola-3 {
    text-align: start;
    margin-right: 5%;
    border-radius: 5px;
}

.responsive-table .c1h {
    padding-left: 10px;
}

.social-button {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 70px;
    height: 70px;
    text-decoration: none;
}

.social-button__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - var(--dist));
    height: calc(100% - var(--dist));
    border-radius: 100%;
    /* background: #fff; */
    text-align: center;
}

.social-button i,
.social-button svg {
    position: relative;
    z-index: 1;
    transition: 0.3s;
}

.social-button .gb {
    font-size: 35px;
}

.social-button .in {
    font-size: 30px;
}

.social-button .tw {
    padding-top: 5px;
    font-size: 32px;
}

.social-button i {
    font-size: 28px;
}

.social-button svg {
    height: 40%;
    width: 40%;
}


/* .social-button::after {
    content: "";
    position: absolute;
    top: 35.355%;
    left: 35.355%;
    display: block;
    width: 0;
    height: 0;
    border-radius: 100%;
    transition: 0.15s;
} */


/* .social-button:focus,
.social-button:hover {
    color: #fff;
} */


/* .social-button:focus::after,
.social-button:hover::after {
    width: calc(100% - var(--dist));
    height: calc(100% - var(--dist));
    margin-top: calc(-35.355% + var(--dist)/2);
    margin-left: calc(-35.355% + var(--dist)/2);
} */

.social-button--mail {
    color: #0072c6;
}


/* .social-button--mail::after {
    background: #0072c6;
} */

.social-button--facebook {
    color: #3b5999;
}


/* .social-button--facebook::after {
    background: #3b5999;
} */

.social-button--linkedin {
    color: #0077b5;
}


/* .social-button--linkedin::after {
    background: #0077b5;
} */

.social-button--github {
    color: #d83a66;
}


/* .social-button--github::after {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    ;
} */

.social-button--codepen {
    color: #212121;
}

.social-button--codepen::after {
    background: #212121;
}

.social-button--snapchat {
    color: #eec900;
}

.social-button--snapchat::after {
    background: #eec900;
}

.social-button--twitter {
    color: #55acee;
}

.social-button--twitter::after {
    background: #55acee;
}

.social-button--instagram {
    color: #e4405f;
}

.social-button--instagram::after {
    background: #e4405f;
}

.social-button--npmjs {
    color: #c12127;
}

.social-button--npmjs::after {
    background: #c12127;
}

a {
    position: fixed;
    /* z-index: -1; */
    bottom: 0;
    text-shadow: 2px 2px 5px rgba(34, 34, 34, 0.32);
}

.linkedin {
    left: 10px;
}

.instagram {
    left: 120px;
    bottom: -1px;
}

.twitter {
    left: 175px;
}

.github {
    left: 65px;
    bottom: -2px;
}

.receipt {
    margin: 10px auto;
    background: linear-gradient(135deg, white 2.8px, transparent 2.81px) bottom left, linear-gradient(45deg, transparent 5.68px, white 5.69px) bottom left;
    /* linear-gradient(135deg, transparent 5.68px, white 5.69px) top left,linear-gradient(45deg, white 2.8px, transparent 2.81px) top left, */
    background-repeat: repeat-x;
    background-size: 8px 4px;
    padding: 4px 0;
}

.receipt-list {
    /* border-radius: 10px 10px 0 0; */
    overflow: auto;
    background-color: white;
    height: 340px;
}

.receipt {
    filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.2));
    width: 530px;
}


/* datepicker */

form {
    margin-block-end: 0;
    /* margin: 5px 0; */
}

.frstwrap {
    display: flex;
    justify-content: space-between;
}

#d1,
#d2 {
    height: 20px;
    width: 132px;
    border-radius: 5px;
    padding: 0 3px 0 8px;
}

.frto {
    background: rgb(202, 214, 211);
    border-radius: 5px;
}

img {
    user-select: none;
}