body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

::selection {
    color: white;
    background-color: black;
}

.grd {
    height: 100vh;
    display: flex;
}

.g1 {
    background-color: #2e3c49;
    flex: 0 0;
    height: 100%;
}

.g2 {
    flex: 0 0 calc(100%-400px);
}

.prop {
    /* margin: 10% 0 10% 0; */
    height: 100%;
    /* width: 400px; */
    object-fit: cover;
}

.logo {
    width: 160px;
    position: relative;
    top: 0px;
    left: 58px;
}

.prop2 {
    /* width: 160px; */
    position: relative;
    top: 15px;
    left: 270px;
}

.txt {
    margin: 100px 0 0 100px;
    width: 550px;
    font-size: 40px;
    color: #2e3c49;
    font-weight: 400;
}

.safe {
    background-color: #2e3c49;
    color: white;
    padding: 10px;
    border-radius: 3px;
}

.login {
    margin: 40px 0 0 100px;
    height: 290px;
    width: 520px;
}

.sign {
    background-color: #d4d4d4ea;
    color: rgba(99, 99, 99, 0.877);
    display: flex;
    width: 176px;
    height: 40px;
    border-radius: 7px;
}

.sup,
.lin {
    font-size: 18px;
    padding: 9px 12px;
    margin: 3px;
    font-weight: 400;
    z-index: 4;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.sel1 {
    color: black;
    font-weight: 600;
}

.sel {
    position: relative;
    top: -37px;
    left: 4px;
    background-color: rgb(255, 255, 255);
    height: 34px;
    width: 88px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(105, 105, 105, 0.68);
    transition: all 0.4s;
}

.fl {
    margin: 0 0 25px 0;
}

.email {
    margin-left: 40px;
}

#nm {
    width: 160px;
}

.field {
    height: 15px;
    color: rgba(66, 66, 66, 0.9);
    padding: 11px 0 0 0;
    font-size: 15px;
    border-radius: 6px 0 0 6px;
}

.answer {
    height: 35px;
    font-size: 14px;
    border-radius: 6px 0 0 6px;
}

input {
    height: 29px;
    padding: 0 15px;
    border: 2px solid #d4d4d4ea;
    font-size: 13px;
    outline: none;
    font-family: 'Inter', sans-serif;
}

.go {
    margin-left: 40px;
}

.goo {
    margin: 25px 0 0 15px;
    border-radius: 7px;
    height: 35px;
    border: none;
    background: #2e3c49;
    width: 87px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 2px 12px;
    cursor: pointer;
}

#ane {
    width: 200px;
    transition: all 0.4s;
}

.anp {
    width: 240px;
    transition: all 0.4s;
}

.fields1 {
    display: flex;
}


/* extra */


/* .login,
.txt {
    margin-left: 140px;
}

.logo {
    left: 110px;
} */

.prop2 {
    left: 260px;
    width: 50%;
    top: 10px;
}

.logo {
    top: 40px;
    left: 65px;
}


/* .social-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -10px;
}
 */

.social-button {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 70px;
    height: 70px;
    text-decoration: none;
}

.social-button__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - var(--dist));
    height: calc(100% - var(--dist));
    border-radius: 100%;
    /* background: #fff; */
    text-align: center;
}

.social-button i,
.social-button svg {
    position: relative;
    z-index: 1;
    transition: 0.3s;
}

.social-button .gb {
    font-size: 35px;
}

.social-button .in {
    font-size: 30px;
}

.social-button .tw {
    padding-top: 5px;
    font-size: 32px;
}

.social-button i {
    font-size: 28px;
}

.social-button svg {
    height: 40%;
    width: 40%;
}


/* .social-button::after {
    content: "";
    position: absolute;
    top: 35.355%;
    left: 35.355%;
    display: block;
    width: 0;
    height: 0;
    border-radius: 100%;
    transition: 0.15s;
} */


/* .social-button:focus,
.social-button:hover {
    color: #fff;
} */


/* .social-button:focus::after,
.social-button:hover::after {
    width: calc(100% - var(--dist));
    height: calc(100% - var(--dist));
    margin-top: calc(-35.355% + var(--dist)/2);
    margin-left: calc(-35.355% + var(--dist)/2);
} */

.social-button--mail {
    color: #0072c6;
}


/* .social-button--mail::after {
    background: #0072c6;
} */

.social-button--facebook {
    color: #3b5999;
}


/* .social-button--facebook::after {
    background: #3b5999;
} */

.social-button--linkedin {
    color: #0077b5;
}


/* .social-button--linkedin::after {
    background: #0077b5;
} */

.social-button--github {
    color: #d83a66;
}


/* .social-button--github::after {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    ;
} */

.social-button--codepen {
    color: #212121;
}

.social-button--codepen::after {
    background: #212121;
}

.social-button--steam {
    color: #7da10e;
}

.social-button--steam::after {
    background: #7da10e;
}

.social-button--snapchat {
    color: #eec900;
}

.social-button--snapchat::after {
    background: #eec900;
}

.social-button--twitter {
    color: #55acee;
}

.social-button--twitter::after {
    background: #55acee;
}

.social-button--instagram {
    color: #e4405f;
}

.social-button--instagram::after {
    background: #e4405f;
}

.social-button--npmjs {
    color: #c12127;
}

.social-button--npmjs::after {
    background: #c12127;
}

a {
    position: fixed;
    /* z-index: -1; */
    right: 25px;
    text-shadow: 2px 2px 5px rgba(34, 34, 34, 0.32);
}

.linkedin {
    bottom: 10px;
}

.instagram {
    bottom: 120px;
    right: 24px;
}

.twitter {
    bottom: 175px;
}

.github {
    bottom: 65px;
    right: 23px;
}