.frstwrap {
    display: flex;
    justify-content: space-between;
}

#d1, #d2 {
    height: 24px;
    width: 132px;
    border-radius: 5px;
    padding: 0 3px 0 8px;
}

.frto {
    background: rgb(202, 214, 211);
    border-radius: 5px;
}