body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ece4dd;
}

.txt {
    margin: 40px 20px 0 55px;
}

.pm {
    margin: 5px 0 0 7px;
    padding: 2px 8px;
    cursor: pointer;
    height: 20px;
    width: 25px;
    border-radius: 10%;
    border: none;
    font-size: small;
}

.bttn {
    padding: 0;
    height: 38px;
    border-radius: 5px;
    margin: 30px 0 30px 20px;
    border: none;
    transition: all 0.6s;
    box-shadow: 0px 2px 4px 1px rgba(65, 46, 46, 0.08);
}

.b1,
.b2 {
    font-size: 20px;
    flex: 0 0 100px;
}

.b1 {
    margin: 30px 0 0 55px;
}

.b1 {
    flex: 0 0 90px;
}

.bttn:hover {
    box-shadow: 1px 2px 4px 1px rgba(70, 70, 70, 0.42);
}

#bottom {
    display: flex;
    flex-direction: row;
    max-width: 600px;
}

select {
    margin: 0 0 0 8px;
    height: 20px;
    font-size: small;
}

.version {
    position: fixed;
    right: 5px;
    top: 5px;
}

button {
    background-color: white;
    font-size: 20px;
}

.grid-parent { margin: 20px 55px 0 55px; }
.grid-node {
    border: 1px solid rgb(92, 92, 92);
    border-top: none;
    border-left: none;
    height: 52px;
    aspect-ratio: 1/1;
    outline: none;
}
#grid {
    display: grid;
    box-shadow: 0px 2px 4px 1px rgba(65, 46, 46, 0.08);
    font-size: 0;
}