body{
    background-color: #ece4dd;
}

i {
    margin-right: 5px;
}

.bttn {
    padding: 0;
    height: 38px;
    border-radius: 5px;
    margin: 30px 0 30px 20px;
    border: none;
    transition: all 0.6s;
    box-shadow: 0px 2px 4px 1px rgba(65, 46, 46, 0.08);
}

.b1 {
    margin: 30px 0 0 55px;
}

.b1,
.b2 {
    font-size: 20px;
    flex: 0 0 100px;
}

.b1 {
    flex: 0 0 90px;
}

.bttn:hover {
    box-shadow: 1px 2px 4px 1px rgba(70, 70, 70, 0.42);
}

button {
    background-color: white;
    border: 1px solid black;
    outline: none;
    height: 48px;
    cursor: pointer;
}

#bottom {
    display: flex;
    flex-direction: row;
}

#bottom {
    max-width: 600px;
}

.pm {
    margin: 0 0 0 7px;
    padding: 2px 8px;
    cursor: pointer;
    height: 20px;
    width: 25px;
    border-radius: 10%;
    border: none;
    font-size: small;
}

select {
    margin: 0 0 0 8px;
    height: 20px;
    font-size: small;
}

.version {
    position: fixed;
    right: 5px;
    top: 5px;
}